body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #eee;
    color: #222;
}

h1 {
    font-size: 1.8em;
    margin: 1em 50px;
}

/* OS-specific annotation styling */

.annotator-hl {
    background: rgba(200, 0, 0, 0.3);
}

#controls {
    margin: 0;
    padding: 0 1em;
    width: 18em;
    position: fixed;
    top: 2em;
    right: 2em;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#text-to-annotate {
    font-size: 1.2em;
    margin: 2em 50px;
    padding: 1em 2em;
    width: 26em;
    font-family: Garamond, Georgia, serif;
    background: #F8E5CB;
    border: 1px solid #D8A56E;
    border-top-color: #FDFDBE;
    border-left-color: #FDFDBE;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
}

/* Some styling for script */

.shkspr-act-title {
    margin-top: 2em;
}

.shkspr-scene-title {
    margin-top: 1.5em;
}

.shkspr-speech-speaker {
}

p.shkspr-speech-body {
    margin-left: 1em;
}

.shkspr-stagedir {
    font-style: italic;
}

.shkspr-stagedir-inline {
    font-style: italic;
}